Flask==1.0.2
Flask-JWT-Simple==0.0.3
Flask-Migrate==2.2.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
marshmallow==2.18.0
passlib==1.7.1
PyJWT==1.4.2
requests==2.18.4
SQLAlchemy==1.2.10
Werkzeug==0.14.1
